.div{ class: "#{wrapper}" }
  .option
    .option-header
      .row
        .col-xs-10
          %h3{ id: "option-title-#{option.id}" }
            -if editoption
              = best_in_place option, :title, as: :input,
                            url: dashboard_option_path(option, dashboard_token: @token),
                            :inner_class => "input-sm",
                            :display_with => :truncate,
                            :helper_options => { :length => 40 },
                            :html_attrs => { :style => 'width:80%;' },
                            activator: "#option-title-#{option.id}"
            -else
              = (index+1).to_s + ". " unless index.nil?
              = option.title

        -if deletelink
          .col-xs-2
            .option-remove
              = link_to "", dashboard_option_path(@token, option.id), :class => "fui fui-cross pull-right", data: {title: "Sicher?", confirm: "Bist Du sicher?", commit: "Ja", cancel: "Nein"}, :method => :delete, title: "Option löschen"

        -if selectbutton
          .col-xs-2
            .option-select
              = bootstrap_form_for(@decision, url: (dashboard_decision_path(@token, @decision))) do |decision|
                = decision.hidden_field :selected_id, :value => option.id
                = decision.hidden_field :state, :value => "closed"
                = button_tag(type: 'submit', class: "pull-right btn btn-info btn-select") do
                  %i.fa.fa-check
      - if rating
        -if @decision.facts.count > 0
          .row.option-rating
            .col-xs-1
              %i.fa.fa-star
            .col-xs-10
              .progress
                .progress-bar{ :style => "width: #{option.assignment_rating_relative}%", :class => "progressRate" }

        .row.option-rating
          .col-xs-1
            %i.fa.fa-heart
          .col-xs-10
            .progress
              .progress-bar{ :style => "width: #{option.feeling_relative}%", :class => "progressFeel" }


      .row
        .col-md-12
          .option-description{ id: "option-desc-#{option.id}" }
            -if editoption
              = best_in_place option, :description, as: :input,
                            url: dashboard_option_path(option, dashboard_token: @token),
                            :display_with => :truncate,
                            :helper_options => { :length => 140 },
                            :inner_class => "input-sm",
                            :html_attrs => { :style => 'width:80%;' },
                            activator: "#option-desc-#{option.id}"
            -else
              = option.description

      -if option.link != ""
        .row
          .col-md-12
            .option-link
              %i.fa.fa-long-arrow-right
              =link_to "website", option.link, :target => "_blank"

    .option-image
      .row
        -unless option.images.count > 0
          .col-md-12.optionImage
            =link_to new_dashboard_image_path(:dashboard_token => @token, :option => option), data: { modal: true } do
              =image_tag "placeholder.jpg", width: "100%"
        -else
          .col-md-12.optionImage
            = image_tag option.images.first.file.url(:large), width: "100%"

    .option-facts
      - option.assignments.each do |a|
        .row.option-fact
          .col-xs-12.col-sm-7.option-fact-name
            .input-group.input-group-sm
              %input.form-control{ :value => a.fact.title, :type => "text", :disabled => true, :id => "fact_assignment_#{a.id}", :class => 'fact_assignment' }
              .input-group-btn
                %button{ :type => "button", :class => "btn btn-default dropdown-toggle", "data-toggle" => "dropdown", "aria-expanded" => "false" }
                  -if disablefacts == false
                    %span.fa.fa-cog
                    %span.sr-only
                      Toggle Dropdown
                %ul.dropdown-menu.dropdown-menu-right{ :role => "menu" }
                  %li.deleteLink= link_to "Löschen", dashboard_fact_path(@token, a.fact.id), :confirm => "Bist Du sicher?", :method => :delete
                  %li.editLink= link_to 'Bearbeiten', edit_dashboard_fact_path(a.fact, :dashboard_token => @token), data: { modal: true }


          .col-xs-12.col-sm-5.option-fact-value{:'data-assignment'=>"#{a.id}"}
            = bootstrap_form_for(a, url: (dashboard_assignment_path(@token, a)), :remote => true, :id => "forminput#{a.id}" ) do |assignment|
              .input-group.input-group-sm.factValueInput
                = assignment.text_field :value, :class => "input-sm form-control fact_assignment js-assignment", :'data-assignment-id' => a.id, :disabled => disablefacts, hide_label: true, :placeholder => "Deine Eingabe:"
                %span.form-control-feedback.fui-check{:id=> "check#{a.id}", :style=>"display: none"}
                .input-group-btn
                  %button{ :type => "button", :class => "btn btn-default dropdown-toggle", "data-toggle" => "dropdown", "aria-expanded" => "false" }
                    %span.sr-only
                      Toggle Dropdown

      -if newfact
        .row.option-add-fact
          .col-md-12{:id=> "addfact#{option.id}"}
            %a.btn.btn-block.btn-primary.js-new-fact{:href => "#", :'data-option-id' => option.id }
              %i.fui-tag
              %b=t('pages.option.new.fact')
          .col-md-12.hide{:id=> "newfact#{option.id}"}
            = render 'facts/form', locals: {:option => option.id}

    -if comments
      .option-comments
        -option.comments.each do |c|
          .row
            .col-md-12
              .option-comment
                %i.fa.fa-user
                %b= c.participant.name
                %br
                = c.comment

        -if newcomment
          .row.option-add-comment
            .col-md-12{:id=> "addcomment#{option.id}"}
              %a.btn.btn-block.btn-inverse.js-new-comment{:href => "#", :'data-option-id' => option.id }
                %i.fa.fa-comment-o
                %b=t('pages.option.new.comment')
            .col-md-12{:id=> "newcomment#{option.id}", :style=>"display: none"}
              = render 'comments/form', locals: {option: option.id, commentable_id: option.id, commentable_type: 'Option'}
    -if review
      -if option.assignments.any?
        .description
          = I18n.t('pages.dashboard.closed.details')
          = option.title
          = I18n.t('pages.dashboard.closed.details2')
        -option.assignments.each do |a|
          .row
            .col-md-6.col-md-offset-0.col-xs-12
              =a.fact.title
            .col-md-6.col-md-offset-0.col-xs-12
              .progress
                .progress-bar{ :style => "width: #{a.rating_relative}%", :class => "progressFeel" }
