<h1>Listing decisions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Participants</th>
      <th>Closed?</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @decisions.each do |decision| %>
      <tr>
        <td><%= decision.title %></td>
        <td>
          <%- decision.participants.each do |participant| %>
            <%- if participant.admin? %>
              <%= link_to "View as admin (#{participant.user.name})", dashboard_participant_path(participant), class: 'btn btn-warning'  %>
            <%- else %>
              <%= link_to "View as #{participant.user.name}\" (id #{participant.id})", dashboard_participant_path(participant), class: 'btn btn-primary' %>
            <%- end %>
          <%- end %>
        </td>
        <td>
          <%- if decision.closed? && decision.chosen_option %>
            <span class="glyphicon glyphicon-ok"></span>
            (<%= Option.find(decision.chosen_option).title %>)
          <%- else %>
            <span class="glyphicon glyphicon-remove"></span>
          <%- end %>
        </td>
        <td><%= link_to 'Show', decision %></td>
        <td><%= link_to 'Edit', edit_decision_path(decision) %></td>
        <td><%= link_to 'Destroy', decision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Decision', new_decision_path %>
