.row
  .col-lg-2
    = link_to 'Werbeprogramme', '#', :class => "navbar-link"
  .col-lg-2
    = link_to 'Vedaserve', '#', :class => "navbar-link"
  .col-lg-2
    = link_to 'Decisions, ', decisions_path
    = link_to 'Status', dmc_status_path
  .col-lg-2

  .col-lg-4  
    %span.pull-right
      = link_to 'Datenschutzerklärung', '#', :class => "navbar-link"
      = link_to 'Impressum', '#', :class => "navbar-link"

