.row
  .col-xs-12.center
    %h1.front-page
      Eine Entscheidung treffen

    1. Allgemein'
    =link_to('2. Optionen und Fakten', options_decision_path(@decision))
    =link_to('3. Einladen', invite_decision_path(@decision))
    %b 4. Optionen Bewerten
    5. Fakten Bewerten
    6. Entscheiden
    
.row
  .col-xs-1
  .col-xs-10.dist-top
    .row
      .col-xs-12
        %h2 Bewerte zun&auml;chst jede Option!
        - @user.guts.each do |g|
          .panel.panel-primary.boxed
            .panel-body
              = form_for(g) do |f|
                Gib Dein Bauchgefühl für
                = g.option.title
                an: 
                = f.text_field(:value, :maxlength => 3, :size => 2, :id => "guts_value#{g.id}", :class => "labeled")
                '%
                .row
                  .col-xs-1
                    =image_tag "contra.png"
                  .col-xs-9
                    :javascript
                      $(function() {
                        $( "#slider#{g.id}" ).slider({
                          min: 0, 
                          max: 100, 
                          step: 5,
                          value: $("#guts_value#{g.id}").val(),
                          slide: function(event, ui) {
                            $("#guts_value#{g.id}").val(ui.value);
                          }
                        });
                        $( "#guts_value#{g.id}" ).val( $( "#slider#{g.id}" ).slider( "value" ));
                      });
                    .div{:id=> "slider#{g.id}"}
                  .col-xs-1
                    = button_tag(type: 'submit', id: "add", class: "btn btn-primary") do
                      %span save
                  .col-xs-1
                    =image_tag "pro.png"


    .row
      .col-xs-12            
        .space-top
          = link_to 'Zurueck', invite_decision_path(@decision), :class => "btn btn-sm btn-default"
          = link_to('Fakten bewerten', facts_decision_path(@decision), :class =>"btn btn-lg btn-primary space-left")

