.section
  %h1 Contents
  %ul
    %li
      %a{href: '#grid'} Grid
    %li
      %a{href: '#options'} Options
    %li
      %a{href: '#visuals'} Visuals
    %li
      %a{href: '#elements'} Elements
.section
  .row
    %h1 Grid
    %p
      Standard bootstrap grid. Center items by using offset columns.
  .row.show-grid
    - (1..12).each do |_|
      .col-md-1
        col-md-1
  .row.show-grid
    .col-md-4
      col-md-4
    .col-md-8
      col-md-8
  .row.show-grid
    .col-md-offset-2.col-md-8
      col-md-8 with col-md-offset-2
.section
  .row
    %h1 Options
    Option is the central entity. An option takes 4 columns. 3 options fit in a row.
  .row.options.show-background
    .col-md-8.col-md-offset-2
      .row
        = render(@option)
        = render(@option)
        = render(@option)
        = render(@option)

.section
  .row
    %h1 Visuals
  .row.show-grid.show-background
    .col-md-2.col-md-offset-2
      .visual-blue
        .visual-blue-link
          visual-blue
    .col-md-2
      .visual-white
        .visual-white-link
          visual-white
  .row.show-grid.show-background
    .col-md-2.col-md-offset-2
      #visual-green
        visual-green
  .row.show-grid.show-background
    .col-md-4.col-md-offset-2
      #prooflerLogo
        col-md-4 with prooflerLogo
  .row.show-grid.show-background
    .col-md-4.col-md-offset-2
      %a.lp-start
        lp-start
.section
  .row
    %h1 Elements
  = render partial: 'dashboards/header'
  .row
    %h2 Progress bar
  = render partial: 'dashboards/progress', locals: { progress: 33 }
  = render partial: 'dashboards/progress', locals: { progress: 66 }
  = render partial: 'dashboards/progress', locals: { progress: 100 }
