#new_question.modal.fade{:tabindex => "-2", "data-focus-on" => "input:first"}
  .modal-header
    %h4.modal-title New Question
  .modal-body
    .modal-body-content
      = form_for(@question) do |f|
        .field
          = f.label :title
          = f.text_field(:title, :size => '10')
        .field
          = f.hidden_field :decision_id, :value => @decision.id
          = f.submit "Save changes", class: "btn btn-large btn-primary"
          %button.btn{"data-dismiss" => "modal", :type => "button"} Close