- provide(:title, 'Kategorien')
- currently_at 'Kategorien'

.row
  .col-xs-2
    - @categories.each do |c|
      - if c.id == @category.id
        .panel.panel-success
          .panel-heading
            = link_to c.title, c
      - else
        .panel.panel-warning
          .panel-heading
            = link_to c.title, c
    - if @categories.count < 7
      = form_for(@new_category) do |f|
        = render 'shared/error_messages', object: f.object
        .form-group.focus
          .input-group.input-group-sm
            = f.text_field :title, placeholder: "Neuer Lebenshut...", :class => "form-control"
            = f.hidden_field :position, :value => @categories.count
            .input-group-btn
              = button_tag(type: 'submit', id: "add", class: "btn btn-primary") do
                %span.glyphicon.glyphicon-plus
  .col-xs-10
    .panel.panel-default
      .panel-heading
        = @category.title
      .panel-body
        .row
          .col-xs-3
            Bild
          .col-xs-9
            Beschreibung
        .row
          .col-xs-12
            = render @category.objectives.active
